@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

#app {
  width: 100vw;
  height: 100vh;
}
